.navbar {
    --navbar-bg-color: #00000050;
    bottom: 0;
    position: fixed;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: right;

    width: 100%;
    height: 4rem;
    background-color: var(--navbar-bg-color);
    border-top: var(--accent-color) 0.2rem solid;

    box-shadow: 0 1rem 2rem 1rem rgba(0 0 0 / 15%);
    backdrop-filter: blur(0.5rem);
}

.navbar .buttons {
    grid-column: 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(4rem - 0.2rem);

    width: 100%;
}

.navbar > .buttons > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;
    margin: 0 0.8rem;
    line-height: 100%;
    cursor: pointer;
    border-radius: 50%;
}

.navbar > .buttons > a:hover {
    background-color: #00000020;
}

.navbar > .buttons > a.active {
    background-color: var(--accent-color);
}

.navbar > .buttons > a.active::before {
    content: '';
    width: 200%;
    margin-right: -200%;
    aspect-ratio: 4;
    position: relative;
    left: calc(-1.15rem - 50%);
    top: -25%;
    z-index: -1;

    mask: url(../public/nav-path.svg) no-repeat 50% 50%;
    mask-size: cover;
    background-color: var(--accent-color);
    /* clip-path: url("#nav-path"); */
}

.navbar > .buttons > a > span.icon {
    font-family: 'Material Icons';
    font-size: 1.5rem;
    transform: scale(1);
    transition: transform 200ms ease-in-out,
        color 50ms ease-in-out;
}

.navbar > .buttons > a:hover > span.icon {
    transform: scale(1.1);
}

.navbar > .buttons > a:active > span.icon {
    color: #aaa;
}

.navbar > .buttons > a > span.legend {
    opacity: 0;
    position: absolute;
}

.languageSelect > img {
    height: calc(4rem - 0.2rem);
    padding: 0.5rem;
    aspect-ratio: 1;
    transition: transform 200ms ease-in-out;
}

.languageSelect > img:hover {
    transform: scale(1.05);
}

.languageSelect > .popup {
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    max-width: calc(4rem * 3 + 2rem);
    width: max-content;
    padding: 1rem;
    position: absolute;
    background-color: white;
    transform: translate(calc(-100% + 4rem - 0.5rem), calc(-100% - 4rem));
    border-radius: 1rem;
    box-shadow: 0.5rem 1rem 1.5rem #00000066;
}

.languageSelect:hover .popup,
.languageSelect .popup:hover {
    visibility: visible;
}

.languageSelect .popup img {
    width: calc(3.5rem);
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 50%;

    transition: transform 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

.languageSelect .popup img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.3rem #00000044;
}